
body{
    margin: 0;
    padding: 0;
}
section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg,#3f51b5,#00bcd4);
    animation: animate 20s linear infinite;
}