  $margin: 0;
  $padding: 0;
  $left: 0;
  $top: 0;
body{
    font-display: sans-serif;
}
*{
    margin: $margin;
    padding: $padding;
    box-sizing: border-box;
}
nav{
    height: 10vh;
    background: #5b78c7;
}
.nav-links{
    display: flex; 
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}
.nav-links{
    li{
        a{
         color: white;   
         text-decoration: none;
         font-size: 16px;
        }
    }
}
.landing{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing h1{
    margin: 100px;
    font-size: 50px;
    color: rgb(216, 172, 210);
}
@media (max-width: 768px){
    
    .line{
        width: 30px;
        height: 3px;
        background: #fff;
        margin: 5px;
    }
    nav{
        position: relative;
    }
    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%); 
        z-index: 2;
    }
    
    .nav-links{
        position: fixed;
        background: #5b78c7;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition:  all 1s ease-in-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%); 
        pointer-events: all;
    }
    .landing{
        flex-direction: column;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li a{
        font-size: 25px;
    }
    .nav-links li:nth-child(1){
        transition: all .5s ease .2s;
    }
    .nav-links li:nth-child(2){
        transition: all .5s ease .4s;
    }
    .nav-links li:nth-child(3){
        transition: all .5s ease .6s; 
    }
    li.fade{
        opacity: 1;
    }
}